
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


header {
    background-color: #10022b;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}
header .span{

    color: #f3f1f1;
    font-size:smaller;
}
.logo{
    text-decoration: none;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;


}
.navigation a{

color: #fefefe;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;

}

.navigation a:hover{

    color:#844f4f;
}

section{
    padding: 100px 200px;
   
}



.cover-image {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background: url('img/cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.description1 {
    text-align: center;
    padding: 20px;
    background-color:#10022b;
}

.description1 h2{
    color:#844f4f;
    font-size: 1.5em;
    font-weight: 600;
}
.description1 span{
    color: #fefefe;
    font-size: 1em;
   
}

.nav {
    display: flex;
    justify-content: center;
    background-color:#3e1515;
}

.nav a {
color:#fefefe;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}

.nav a:hover {

    color:#844f4f;
}

.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #4d1118d8;
}
.Sections {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.7s ease;
}
.child-section {
   
    background-color: #10022b;
    width: 16.25em;
    box-shadow: 0 5px 25px rgba(254, 191, 191, 0.15);
border-radius: 10px;
padding: 15px;
margin: 15px;
transition: 0.7s ease;
}

.title {

    justify-content: center;
    color:#844f4f;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

    
}

.child-section:hover {
    transform: scale(1.1);
}

.icon {
   
    color: #fefefe;
    font-size: 8em;
    text-align: center;

}

.Features  {
    background-color: #844f4f;

    display: flex;
    justify-content: center;
    flex-direction: row;

    flex-wrap: wrap;
    transition: 0.7s ease;
}

.Feature {
    margin-top: 30px;
  
}

.Feature-card {
    background-color:#630a0a;
        border: 1px solid #490202;
        min-height: 14em;
        width: 20em;
        overflow: hidden;
        border-radius: 10px;
        margin: 15px;
        transition: 0.7s ease;
}
.Feature-card:hover{
    transform: scale(1.1);
    border: 1.5px solid #fefefe;
}

.Feature-card:hover .feature-img {
opacity: 0.8;
}
 
.feature-img img{
    width: 100%;

}

.info-feature{
    padding: 0.8em;
}

.small-discreption{
    font-size: 0.8em;
    color:#fdfafa
}

.feature-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color:#844f4f;
}

.details{
    text-decoration: none;
    font-size:x-small;
    color: #fff9f9;
}
.details:hover{
    color: #844f4f;
}
.info {
    text-align: center;
}

.info h2 {
    margin: 10px;
    color: #fefefe;
    font-size: 1.2em;
    font-weight: 700;
}

.child-section p {
    margin-top: 5px;
    color: #fefefe;
}

.about  {
    background-color:#10022b;
color: #fefefe;
    display: flex;
    justify-content: center;
    flex-direction:column;
padding: 30px;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    transition: 0.7s ease;
}

.team {
   
  

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;

  color: #844f4f;
  
}

.team-card {
    background-color:#630a0a;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 30px;
       height: 21em;
        max-width: 60%;
        overflow: hidden;
       
        transition: 0.7s ease;
    color: #fefefe;
 display: flex;
 flex-direction:row;
 align-items: center;

}

.team-card:hover{
    transform: scale(1.1);
}

.team-card:hover .team-img {
opacity: 0.8;
}
 .team-img {
    align-items: center;
 }
.team-img img{
    width: 14em;
    min-height: max-content;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;


}

.info-team{

    background-color:#630a0a1d;
   
   width: 100em;
   height: 17em;
 
 
    overflow: hidden;
   border-radius: 1px;
color: #fefefe;
display: flex;
flex-direction:column;
align-items: center;

text-decoration: none;
 
}

.team-name {
   
   
    text-transform: uppercase;
    text-decoration: double;

    color:#f9f5f5;
    padding-top: 10px;
    font-size:x-large;
   
}
.icon a{
    color: #fefefe;
    font-size: 0.3em;

 justify-content: space-between;

}
.description{
    text-align: justify;
    width: 80%;
    justify-content: center;
    text-transform: capitalize;
padding-bottom: 30px;
}
.description .details
{
    font-size: x-large;
}

footer {
    background-color:#844f4f;
    color: #f3f1f1;
   
   
    display: flex;
    justify-content: space-between;
    padding: 2em;

}
footer .logo{
color: #10022b;
font-size: 1.3em;
  
}

@media (max-with:1023px){
header{

    padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
font-size: 1em;
    }
section {

    padding: 80px 20px;
}
.logo{
    font-size: 2em;
}


}

@media (max-with:641px){

body{
    font-size: 6em;
}
header{

    padding: 7px 10px;
    }
    .navigation a{
        padding-left: 5px;
font-size: 0.7em;
    }
section {

    padding: 80px 20px;
}
.logo{
    font-size: 2em;
}

}

@media (max-with:300px){
body{
    font-size: 3em;
}
header{
   
    padding: 2px 4px;
    }
    .logo{
        font-size: 0.8em;
    }
    .navigation a{
        padding-left: 5px;
        font-size: 0.5em;
}
section {

    padding: 40px 5px;
}
}